[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/libtmt"]
	path = external/libtmt
	url = https://github.com/martin-hughes/libtmt
